In [2]:
import pandas as pd 
import numpy as np

In [3]:
data = pd.read_csv("0000000000002429_training_titanic_x_y_train.csv")
test = pd.read_csv("0000000000002429_test_titanic_x_test.csv")

In [4]:
y = data.copy()

In [5]:
y.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.0,1,0,228414,26.000,NaN,S,1
1,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.050,NaN,S,0
2,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0,0,250655,26.000,NaN,S,0
3,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.075,NaN,S,0
4,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.050,NaN,S,0

In [6]:
x2 = data[data.Survived == 1]
survive_age = x2.Age.mean()
x2 = data[data.Survived == 0]
not_survive_age = x2.Age.mean()
print(survive_age)
print(not_survive_age)

28.138157894736842
30.857142857142858

In [7]:
r,c = y.shape

In [8]:
print(r)
print(c)

668
11

In [9]:
z = y[y.Age.isnull()]
print(z)
z.shape

     Pclass                                               Name     Sex  Age  \
1         3                  Williams, Mr. Howard Hugh "Harry"    male  NaN
8         2                       Williams, Mr. Charles Eugene    male  NaN
11        3                                  Kassem, Mr. Fared    male  NaN
13        3                                  Lennon, Mr. Denis    male  NaN
14        3                         Healy, Miss. Hanora "Nora"  female  NaN
19        3                                Jermyn, Miss. Annie  female  NaN
21        3                      Boulos, Mrs. Joseph (Sultana)  female  NaN
24        3                            Masselmani, Mrs. Fatima  female  NaN
25        3                       Sage, Miss. Constance Gladys  female  NaN
39        3                                 Ivanoff, Mr. Kanio    male  NaN
47        3                   Petroff, Mr. Pastcho ("Pentcho")    male  NaN
54        3                              O'Connor, Mr. Maurice    male  NaN
55        3                   Mullens, Miss. Katherine "Katie"  female  NaN
57        3                                 Garfirth, Mr. John    male  NaN
59        1                  Kenyon, Mrs. Frederick R (Marion)  female  NaN
65        1                     Thorne, Mrs. Gertrude Maybelle  female  NaN
80        1       Goldenberg, Mrs. Samuel L (Edwiga Grabowska)  female  NaN
97        3                           O'Connell, Mr. Patrick D    male  NaN
99        3                                  Peter, Miss. Anna  female  NaN
101       1      Bradley, Mr. George ("George Arthur Brayton")    male  NaN
107       3                              Jardin, Mr. Jose Neto    male  NaN
127       3                           Rogers, Mr. William John    male  NaN
129       3             Peter, Mrs. Catherine (Catherine Rizk)  female  NaN
153       3                            Sage, Miss. Stella Anna  female  NaN
166       1                              Stewart, Mr. Albert A    male  NaN
167       3                            Emir, Mr. Farred Chehab    male  NaN
170       3                                Murdlin, Mr. Joseph    male  NaN
181       3                     Meanwell, Miss. (Marion Ogden)  female  NaN
182       3          Davison, Mrs. Thomas Henry (Mary E Finck)  female  NaN
188       1  Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)  female  NaN
..      ...                                                ...     ...  ...
516       1                              Rood, Mr. Hugh Roscoe    male  NaN
527       3                     Moussa, Mrs. (Mantoura Boulos)  female  NaN
532       1  Frauenthal, Mrs. Henry William (Clara Heinshei...  female  NaN
535       3                                 McCoy, Miss. Agnes  female  NaN
537       2                         Leitch, Miss. Jessie Wills  female  NaN
539       3                                Sirota, Mr. Maurice    male  NaN
540       3                   Caram, Mrs. Joseph (Maria Elias)  female  NaN
541       3                           Keane, Mr. Andrew "Andy"    male  NaN
543       1                                  Lewy, Mr. Ervin G    male  NaN
549       3                           Risien, Mr. Samuel Beard    male  NaN
551       3  Moubarek, Master. Halim Gonios ("William George")    male  NaN
552       3                                Kiernan, Mr. Philip    male  NaN
565       1                                 Klaber, Mr. Herman    male  NaN
568       3                                  Simmons, Mr. John    male  NaN
574       2                     Cunningham, Mr. Alfred Fleming    male  NaN
577       3                           Mannion, Miss. Margareth  female  NaN
595       1                                Robbins, Mr. Victor    male  NaN
604       3                                       Lam, Mr. Len    male  NaN
627       1                            Fleming, Miss. Margaret  female  NaN
630       3                                 Nankoff, Mr. Minko    male  NaN
632       3                             Gheorgheff, Mr. Stanio    male  NaN
636       1                              Saalfeld, Mr. Adolphe    male  NaN
640       3                                 Lefebre, Miss. Ida  female  NaN
644       1                                Baumann, Mr. John D    male  NaN
651       3                         Thorneycroft, Mr. Percival    male  NaN
654       3                                Todoroff, Mr. Lalio    male  NaN
659       3                               O'Brien, Mr. Timothy    male  NaN
661       1              Meyer, Mrs. Edgar Joseph (Leila Saks)  female  NaN
664       3                           Morrow, Mr. Thomas Rowan    male  NaN
667       3                     Murphy, Miss. Katherine "Kate"  female  NaN

     SibSp  Parch              Ticket      Fare  Cabin Embarked  Survived
1        0      0            A/5 2466    8.0500    NaN        S         0
8        0      0              244373   13.0000    NaN        S         1
11       0      0                2700    7.2292    NaN        C         0
13       1      0              370371   15.5000    NaN        Q         0
14       0      0              370375    7.7500    NaN        Q         1
19       0      0               14313    7.7500    NaN        Q         1
21       0      2                2678   15.2458    NaN        C         0
24       0      0                2649    7.2250    NaN        C         1
25       8      2            CA. 2343   69.5500    NaN        S         0
39       0      0              349201    7.8958    NaN        S         0
47       0      0              349215    7.8958    NaN        S         0
54       0      0              371060    7.7500    NaN        Q         0
55       0      0               35852    7.7333    NaN        Q         1
57       0      0              358585   14.5000    NaN        S         0
59       1      0               17464   51.8625    D21        S         1
65       0      0            PC 17585   79.2000    NaN        C         1
80       1      0               17453   89.1042    C92        C         1
97       0      0              334912    7.7333    NaN        Q         0
99       1      1                2668   22.3583  F E69        C         1
101      0      0              111427   26.5500    NaN        S         1
107      0      0  SOTON/O.Q. 3101305    7.0500    NaN        S         0
127      0      0     S.C./A.4. 23567    8.0500    NaN        S         0
129      0      2                2668   22.3583    NaN        C         1
153      8      2            CA. 2343   69.5500    NaN        S         0
166      0      0            PC 17605   27.7208    NaN        C         0
167      0      0                2631    7.2250    NaN        C         0
170      0      0          A./5. 3235    8.0500    NaN        S         0
181      0      0   SOTON/O.Q. 392087    8.0500    NaN        S         0
182      1      0              386525   16.1000    NaN        S         1
188      1      0               19996   52.0000   C126        S         1
..     ...    ...                 ...       ...    ...      ...       ...
516      0      0              113767   50.0000    A32        S         0
527      0      0                2626    7.2292    NaN        C         1
532      1      0            PC 17611  133.6500    NaN        S         1
535      2      0              367226   23.2500    NaN        Q         1
537      0      0              248727   33.0000    NaN        S         1
539      0      0              392092    8.0500    NaN        S         0
540      1      0                2689   14.4583    NaN        C         0
541      0      0               12460    7.7500    NaN        Q         0
543      0      0            PC 17612   27.7208    NaN        C         0
549      0      0              364498   14.5000    NaN        S         0
551      1      1                2661   15.2458    NaN        C         1
552      1      0              367229    7.7500    NaN        Q         0
565      0      0              113028   26.5500   C124        S         0
568      0      0     SOTON/OQ 392082    8.0500    NaN        S         0
574      0      0              239853    0.0000    NaN        S         0
577      0      0               36866    7.7375    NaN        Q         1
595      0      0            PC 17757  227.5250    NaN        C         0
604      0      0                1601   56.4958    NaN        S         0
627      0      0               17421  110.8833    NaN        C         1
630      0      0              349218    7.8958    NaN        S         0
632      0      0              349254    7.8958    NaN        C         0
636      0      0               19988   30.5000   C106        S         1
640      3      1                4133   25.4667    NaN        S         0
644      0      0            PC 17318   25.9250    NaN        S         0
651      1      0              376564   16.1000    NaN        S         0
654      0      0              349216    7.8958    NaN        S         0
659      0      0              330979    7.8292    NaN        Q         0
661      1      0            PC 17604   82.1708    NaN        C         1
664      0      0              372622    7.7500    NaN        Q         0
667      1      0              367230   15.5000    NaN        Q         1

[132 rows x 11 columns]

(132, 11)

In [11]:
k = z.index.values
print(k)

[  1   8  11  13  14  19  21  24  25  39  47  54  55  57  59  65  80  97
  99 101 107 127 129 153 166 167 170 181 182 188 189 190 195 196 199 200
 202 203 207 213 215 224 230 233 236 249 250 255 268 270 278 279 281 284
 298 310 312 315 318 329 330 335 339 340 346 350 352 353 354 361 364 365
 367 368 369 374 381 382 389 395 396 403 407 410 411 416 425 436 441 449
 454 470 471 472 476 477 478 491 492 495 501 505 516 527 532 535 537 539
 540 541 543 549 551 552 565 568 574 577 595 604 627 630 632 636 640 644
 651 654 659 661 664 667]

In [12]:

for i in range(r):
    if i in k:
        if(y.loc[i,'Survived']==1):
            y.loc[i,"Age"]=survive_age
        else:
            y.loc[i,"Age"]=not_survive_age

In [13]:
del y['Name']
del y['Survived']
del y['Fare']
test.Age.fillna(test.Age.mean(),inplace = True)

In [14]:

def f1(s):
    if s == 'male':
        return 0
    else:
        return 1
def getNumberEmbarked(str):
    if str=='C':
        return 1
    elif str=='Q':
        return 2
    else:
        return 3
y['Embarked'] = y['Embarked'].apply(getNumberEmbarked)   
test['Embarked'] = test['Embarked'].apply(getNumberEmbarked)
    
y['Gender'] = y.Sex.apply(f1)

In [15]:
del y['Sex']
#del y['Embarked']
#del test['Embarked']
del y['Ticket']
del y['Parch']

In [16]:
y['Cabin'] = y.Cabin.notnull().astype(int)

In [17]:
test['Gender'] = test.Sex.apply(f1)
del test['Sex']

In [18]:
test.Cabin.notnull().astype(int)

0      0
1      1
2      0
3      0
4      1
5      0
6      0
7      0
8      0
9      0
10     1
11     0
12     1
13     0
14     1
15     0
16     0
17     0
18     0
19     0
20     0
21     0
22     1
23     0
24     0
25     1
26     0
27     0
28     0
29     0
      ..
193    0
194    0
195    0
196    1
197    0
198    0
199    1
200    1
201    1
202    0
203    1
204    0
205    0
206    0
207    0
208    1
209    0
210    0
211    0
212    0
213    1
214    0
215    1
216    0
217    0
218    0
219    1
220    1
221    0
222    1
Name: Cabin, Length: 223, dtype: int32

In [19]:
del test['Name']
test['Cabin'] = test.Cabin.notnull().astype(int)
del test["Fare"]
del test['Ticket']
del test['Parch']

In [20]:

from sklearn.linear_model import LogisticRegression

In [21]:
clf = LogisticRegression()

In [22]:
clf.fit(y,data.Survived)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [23]:
Y_pred = clf.predict(test)

In [24]:
np.savetxt('2nd try prediictions with fmt.csv',Y_pred,fmt='%1.0f')

In [25]:
from sklearn.ensemble import RandomForestClassifier

In [26]:
clf1 = RandomForestClassifier(max_depth = 6, random_state=0)

In [27]:
clf1.fit(y, data.Survived)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=6, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [28]:
Y_pred1 = clf.predict(test)
np.savetxt('randomforestclassifierpred with fmt.csv',Y_pred1,fmt='%1.0f')