In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dataset/train_titanic.csv')
del df['Name']
del df['Ticket']
df['Cabin']=df['Cabin'].fillna(0)
def f1(str):
    if(str=='female'):
        return 1
    else:
        return 2
df['Sex']=df.Sex.apply(f1)
df['Age']=df['Age'].fillna(df.Age.mean())
def f2(str):
    if(str!=0):
        return 1
    else:
        return 0    
df['Cabin']=df.Cabin.apply(f2)

def f3(str):
    if(str=='S'):
        return 1
    elif(str=='Q'):
        return 2
    else:
        return 3
    
df['Embarked']=df.Embarked.apply(f3)
train=df.values
train_x=train[:,0:len(train[0])-1]
train_y=train[:,len(train[0])-1:len(train[0])]

train_x.shape
train.shape

(668, 9)

In [38]:
df = pd.read_csv('dataset/test_titanic.csv')
del df['Name']
del df['Ticket']
df['Cabin']=df['Cabin'].fillna(0)
def f1(str):
    if(str=='female'):
        return 1
    else:
        return 2
df['Sex']=df.Sex.apply(f1)
df['Age']=df['Age'].fillna(df.Age.mean())
def f2(str):
    if(str!=0):
        return 1
    else:
        return 0    
df['Cabin']=df.Cabin.apply(f2)

def f3(str):
    if(str=='S'):
        return 1
    elif(str=='Q'):
        return 2
    else:
        return 3
    
df['Embarked']=df.Embarked.apply(f3)
test_x=df.values
df.describe()

,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
count,223.000000,223.000000,223.000000,223.000000,223.000000,223.000000,223.000000,223.000000
mean,2.345291,1.672646,29.694775,0.506726,0.304933,32.622551,0.224215,1.443946
std,0.850047,0.470303,13.749153,1.169700,0.634108,61.062047,0.418003,0.756501
min,1.000000,1.000000,0.420000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2.000000,1.000000,22.000000,0.000000,0.000000,7.879200,0.000000,1.000000
50%,3.000000,2.000000,29.694775,0.000000,0.000000,12.475000,0.000000,1.000000
75%,3.000000,2.000000,35.000000,1.000000,0.000000,30.035400,0.000000,2.000000
max,3.000000,2.000000,71.000000,8.000000,2.000000,512.329200,1.000000,3.000000

In [38]:
    import numpy as np
    ap=np.array([1 for i in range(len(test_x))])
    ap=ap.reshape(len(test_x),1)
    test_x= np.append(test_x,ap,axis=1)
    
    ap=np.array([1 for i in range(len(train_x))])
    ap=ap.reshape(len(train_x),1)
    train_x= np.append(train_x,ap,axis=1)

In [7]:
test_x[2]

array([ 3.        ,  2.        , 29.69477528,  0.        ,  0.        ,
        7.7375    ,  0.        ,  2.        ])

In [30]:
from sklearn.linear_model import LogisticRegression
clf=LogisticRegression()
clf.fit(train_x,train_y.reshape(len(train_y,)))

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [32]:
clf.score(train_x,train_y.reshape(len(train_y),))

0.7934131736526946

In [36]:
import numpy as np
result=clf.predict(test_x)
result.shape
np.savetxt("dataset/prediction_titanic.csv", result, delimiter=",")