In [1]:
import pandas as pd 
import numpy as np

x = pd.read_csv("0000000000002429_training_titanic_x_y_train.csv")
test = pd.read_csv("0000000000002429_test_titanic_x_test.csv")

y = x.copy()

x2 = x[x.Survived == 1]
survive_age = x2.Age.mean()
x2 = x[x.Survived == 0]
not_survive_age = x2.Age.mean()
print(survive_age)
print(not_survive_age)
r,c = y.shape
z = y[y.Age.isnull()]

k = z.index.values

for i in range(r):
    if i in k:
        if(y.loc[i,'Survived']==1):
            y.loc[i,"Age"]=survive_age
        else:
            y.loc[i,"Age"]=not_survive_age
#y.Age.fillna(test.Age.mean(),inplace = True)
del y['Name']
del y['Survived']
del y['Fare']
test.Age.fillna(test.Age.mean(),inplace = True)
#y['age_age'] = y['Age']**2
#test['age_age'] = test['Age']**2


def f1(s):
    if s == 'male':
        return 0
    else:
        return 1
def getNumberEmbarked(str):
    if str=='C':
        return 1
    elif str=='Q':
        return 2
    else:
        return 3
y['Embarked'] = y['Embarked'].apply(getNumberEmbarked)   
test['Embarked'] = test['Embarked'].apply(getNumberEmbarked)
    
y['Gender'] = y.Sex.apply(f1)

del y['Sex']
#del y['Embarked']
#del test['Embarked']
del y['Ticket']
del y['Parch']
y['Cabin'] = y.Cabin.notnull().astype(int)

test['Gender'] = test.Sex.apply(f1)
del test['Sex']

del test['Name']
test['Cabin'] = test.Cabin.notnull().astype(int)
del test["Fare"]
del test['Ticket']
del test['Parch']
#del y['Cabin']
#del test['Cabin']

from sklearn.linear_model import LogisticRegression

#clf = LogisticRegression()
#from sklearn import preprocessing
#Scaler = preprocessing.StandardScaler()
#Scaler.fit(y)
#i = Scaler.transform(y)
#j = Scaler.transform(test)
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(max_depth = 6, random_state=0)
clf.fit(y, x.Survived)
Y_pred = clf.predict(test)
np.savetxt('large.csv',Y_pred)
#clf.score(X_train_l,Y_train_l)

#print(y)
#print(test)
#clf.fit(y,x.Survived)
#y_pred = clf.predict(y)
#pred = clf.predict(test)
#np.savetxt('large.csv',pred)
#print(clf.score(y,x.Survived))
#print(y)
#print(test)
#y[y.age_age.isna()]
#print(y_pred - x.Survived)
#print(clf.predict_proba(y))

printy

28.138157894736842
30.857142857142858

     Pclass        Age  SibSp  Cabin  Embarked  Gender
0         2  29.000000      1      0         3       1
1         3  30.857143      0      0         3       0
2         2  39.000000      0      0         3       0
3         3  29.000000      0      0         3       1
4         3  25.000000      0      0         3       0
5         3  34.500000      0      0         1       0
6         1  35.000000      1      1         3       1
7         3  23.000000      0      0         3       0
8         2  28.138158      0      0         3       0
9         3  50.000000      0      0         3       0
10        3  23.000000      0      0         3       1
11        3  30.857143      0      0         1       0
12        2  36.000000      0      0         3       0
13        3  30.857143      1      0         2       0
14        3  28.138158      0      0         2       1
15        3  28.000000      2      0         3       0
16        3  32.000000      0      0         3       0
17        3  42.000000      0      0         3       0
18        1  38.000000      0      1         3       0
19        3  28.138158      0      0         2       1
20        1  38.000000      0      0         3       0
21        3  30.857143      0      0         1       1
22        2  40.000000      0      0         3       1
23        3  24.500000      0      0         3       0
24        3  28.138158      0      0         1       1
25        3  30.857143      8      0         3       1
26        1  39.000000      0      1         3       0
27        1  22.000000      0      0         1       0
28        3  16.000000      0      0         3       0
29        2  30.000000      0      0         3       0
..      ...        ...    ...    ...       ...     ...
638       3  24.000000      2      0         3       0
639       2  22.000000      1      0         1       1
640       3  30.857143      3      0         3       1
641       3  32.000000      0      0         3       0
642       1  42.000000      0      1         3       0
643       3  17.000000      0      0         3       0
644       1  30.857143      0      0         3       0
645       2   0.830000      1      0         3       0
646       3   9.000000      2      0         3       1
647       1  58.000000      0      1         1       0
648       2  28.000000      0      0         3       0
649       3  26.000000      0      0         3       0
650       3  47.000000      0      0         3       0
651       3  30.857143      1      0         3       0
652       2  33.000000      1      0         3       1
653       3  47.000000      1      0         3       1
654       3  30.857143      0      0         3       0
655       1  42.000000      1      1         3       0
656       3  36.000000      0      0         3       0
657       3  38.000000      0      0         3       0
658       3  38.000000      1      0         3       1
659       3  30.857143      0      0         2       0
660       2   1.000000      2      1         3       0
661       1  28.138158      1      0         1       1
662       1  47.000000      0      1         3       0
663       2  17.000000      0      0         3       1
664       3  30.857143      0      0         2       0
665       3  32.000000      0      0         3       0
666       3  22.000000      0      0         3       1
667       3  28.138158      1      0         2       1

[668 rows x 6 columns]