In [118]:
import numpy as np

In [117]:
import pandas as pd

In [476]:
data.columns

Index(['Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare',
       'Cabin', 'Embarked', 'Survived'],
      dtype='object')

In [477]:
data=pd.read_csv('training_titanic_x_y_train.csv')
x_test=pd.read_csv('test_titanic_x_test.csv')
type(data)

pandas.core.frame.DataFrame

In [478]:
data_copy=data.copy()

### GET INSIGHT INTO DATA BY CHECKING FOR NON NULL COLUMNS

In [479]:
data_copy.info() # Carefully see if any value is null in data_copy
# We see that embarked has one value as null
x_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668 entries, 0 to 667
Data columns (total 11 columns):
Pclass      668 non-null int64
Name        668 non-null object
Sex         668 non-null object
Age         536 non-null float64
SibSp       668 non-null int64
Parch       668 non-null int64
Ticket      668 non-null object
Fare        668 non-null float64
Cabin       154 non-null object
Embarked    667 non-null object
Survived    668 non-null int64
dtypes: float64(2), int64(4), object(5)
memory usage: 57.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223 entries, 0 to 222
Data columns (total 10 columns):
Pclass      223 non-null int64
Name        223 non-null object
Sex         223 non-null object
Age         178 non-null float64
SibSp       223 non-null int64
Parch       223 non-null int64
Ticket      223 non-null object
Fare        223 non-null float64
Cabin       50 non-null object
Embarked    222 non-null object
dtypes: float64(2), int64(3), object(5)
memory usage: 17.5+ KB

### DROP THE UNNECESSARY COLUMNS

In [480]:
del data_copy['Name'] # Drop the unnecessary columns
del x_test['Name']

In [481]:
del data_copy['Cabin']
del x_test['Cabin']

In [482]:
del data_copy['Ticket']
del x_test['Ticket']

### FILL THE NaN Values

In [483]:
data_copy.Age.fillna(data_copy.Age.median(),inplace=True) # FIlling the NaN values for Age
x_test.Age.fillna(x_test.Age.median(),inplace=True) # FIlling the NaN values for Age

In [484]:
data_copy.Embarked.fillna(data_copy.Embarked.mode()[0],inplace=True)
x_test.Embarked.fillna(x_test.Embarked.mode()[0],inplace=True)

### CHANGE STRING INTO INT FORMAT , CHANGING ALL DATA INTO NUMERIC

In [485]:
dummies = []
cols = ['Pclass','Sex','Embarked']
for col in cols:
    dummies.append(pd.get_dummies(data_copy[col]))
titanic_dummies = pd.concat(dummies, axis=1)
data_copy = pd.concat((titanic_dummies,data_copy),axis=1)
# del data_copy['Pclass','Sex','Embarked']
dummies_test = []
cols = ['Pclass','Sex','Embarked']
for col in cols:
    dummies_test.append(pd.get_dummies(x_test[col]))
titanic_dummies_test = pd.concat(dummies_test, axis=1)
x_test = pd.concat((titanic_dummies_test,x_test),axis=1)

In [486]:
del data_copy['Pclass']
del x_test['Pclass']

In [487]:
del data_copy['Sex']
del x_test['Sex']

In [488]:
del data_copy['Embarked']
del x_test['Embarked']

### DROP THE DUPLICATE ROWS FROM THE TRAINING DATA

In [489]:
data_copy.drop_duplicates(inplace=True)

### AGAIN GAIN SOME INSIGHT INTO THE DATA

In [490]:
data_copy.info() # Carefully see if any value is null in data_copy
# We see that embarked has one value as null

<class 'pandas.core.frame.DataFrame'>
Int64Index: 591 entries, 0 to 666
Data columns (total 13 columns):
1           591 non-null uint8
2           591 non-null uint8
3           591 non-null uint8
female      591 non-null uint8
male        591 non-null uint8
C           591 non-null uint8
Q           591 non-null uint8
S           591 non-null uint8
Age         591 non-null float64
SibSp       591 non-null int64
Parch       591 non-null int64
Fare        591 non-null float64
Survived    591 non-null int64
dtypes: float64(2), int64(3), uint8(8)
memory usage: 32.3 KB

In [491]:
x_test.info()
x_test.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223 entries, 0 to 222
Data columns (total 12 columns):
1         223 non-null uint8
2         223 non-null uint8
3         223 non-null uint8
female    223 non-null uint8
male      223 non-null uint8
C         223 non-null uint8
Q         223 non-null uint8
S         223 non-null uint8
Age       223 non-null float64
SibSp     223 non-null int64
Parch     223 non-null int64
Fare      223 non-null float64
dtypes: float64(2), int64(2), uint8(8)
memory usage: 8.8 KB

(223, 12)

In [492]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 591 entries, 0 to 666
Data columns (total 13 columns):
1           591 non-null uint8
2           591 non-null uint8
3           591 non-null uint8
female      591 non-null uint8
male        591 non-null uint8
C           591 non-null uint8
Q           591 non-null uint8
S           591 non-null uint8
Age         591 non-null float64
SibSp       591 non-null int64
Parch       591 non-null int64
Fare        591 non-null float64
Survived    591 non-null int64
dtypes: float64(2), int64(3), uint8(8)
memory usage: 32.3 KB

In [131]:
data_copy.Embarked.mode()[0]

'S'

In [302]:
# data_copy

In [493]:
X=data_copy.values
Y=data_copy['Survived'].values
X_test=x_test.values

In [494]:
X = np.delete(X,12,axis=1)

In [495]:
X_test.shape

(223, 12)

In [499]:
from sklearn.linear_model import LogisticRegression
algo=LogisticRegression(solver='lbfgs')
algo.fit(X,Y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='lbfgs', tol=0.0001,
          verbose=0, warm_start=False)

In [500]:
algo.score(X,Y)

0.805414551607445

### Scaling some columns

In [497]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
X=scaler.fit_transform(X)
X_test=scaler.transform(X_test)

In [496]:
from sklearn.preprocessing import PolynomialFeatures
poly=PolynomialFeatures(2)
X=poly.fit_transform(X)
X_test=poly.transform(X_test)

In [498]:
X=np.c_[X,np.ones((X.shape[0],1))]
X_test=np.c_[X_test,np.ones((X_test.shape[0],1))]

### PREDICTING OUTPUT

In [501]:
Y_pred=algo.predict(X_test)

In [502]:
np.savetxt('output_titanic',Y_pred,fmt='%.5f')

In [474]:
data_copy.drop_duplicates(inplace=True)

In [475]:
data_copy.shape

(591, 13)