In [1]:
#boolean datatype
a = True

b = False
type(a)

bool

In [3]:
#relational operators
x=10
y=20
print(x>y)
print(x<y)
print(x==y)
print(x>=y)
print(x<=y)
print(x!=y)

False
True
False
False
True
True

In [4]:
#logical operators
x =10
y=20
z=30
z<y and y<z

False

In [9]:
n = int(input())
prime = True
for i in range (2,n):
    if(n%2==0):
        prime= False
        break
if(prime):
    print("prime")
else:
    print("not prime")

13
prime

In [10]:
n = int(input())
for i in range(1,n):
    print(i)

13
1
2
3
4
5
6
7
8
9
10
11
12

In [11]:
s = "abcd"
for c in s:
    print(c)

a
b
c
d

In [15]:
a = (1,2,3)
for i in a:
    print(i)

1
2
3

In [16]:
i = 0
while i < 3:
    print(i, end=" ")
    i += 1

0 1 2

In [18]:
a = 3
for i in range(a):
    print(a, end=" ")
    a +=1

3 4 5

In [19]:
x = 'abcd'
for i in x:
     print(i, end = " ")
     x.upper()

a b c d

In [20]:
x = 'abcd'
for i in range(len(x)):
   print(x)
   x = 'a'

abcd
a
a
a

In [22]:
l=[1,2,3,4]
for i in range(len(l)):
    l.append(2)
    print(i)

0
1
2
3

In [27]:
n = int(input())
s = 0
for i in range(n):
  for j in range(i):
    print(j)
    s = int(2*(n-i))
  for k in range(s):
  	print(" ")
  for l in range(i,n,-1):
    print(l)

3
0




0
1

In [3]:
def printMax(a, b):
    if a > b:
       print(a, ' is maximum')
    elif a == b:
       print(a,  'is equal to', b)
    else:
      print(b, ' is maximum')
printMax(3, 4)

4  is maximum

In [4]:
x = 50
def change(x):
     x = 2
change(x)
print(x)

50

In [5]:
def power(x, y=2):
      ans = 1
      for i in range(y):
          ans = ans * x
      return ans
print(power(3), end=" ")
print(power(3,3))

9 27